.cardWrapper {
  padding: 10px 20px 10px 10px;
  user-select: none;
}

.cardWrapper,
.status {
  background-color: #212529;
  border-radius: 8px;
}

.cardWrapper h4 {
  color: white;
}

.titleAndIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleAndIcon div {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.cardWrapper:hover .titleAndIcon div {
  opacity: 1;
}

.todoInput {
  font-size: large;
}

.inputContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todoInput,
.detailsInput {
  background-color: #212529;
  color: white;
  border: 0;
  outline: 0;
}

.labelTodo {
  color: #51585f;
  width: 80px; /* Fixed width for labels */
}

.inputDetails {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 35px;
}

.value {
  color: white;
}

.editMode {
  display: flex;
  gap: 15px;
  /* transition: opacity 0.5s ease-in-out; */
}
