.loginWrapper {
  display: flex;
  height: 100vh;
}

.loginImageWrapper {
  width: 50%;
  overflow-y: hidden;
}

.loginImage {
  width: 100%;
  height: 100%;
}

.loginForm {
  flex: 1;
  background-color: #604482;
  display: flex;
  justify-content: center;
  align-items: center;
}
