@import url("../ReusableTools/Variables.css");

.quoteWrapper {
  background: var(--gradient);
  height: 70px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 70px;
  z-index: 100;
}

.closeIcon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.quoteWrapper:hover .closeIcon {
  opacity: 1;
  cursor: pointer;
}
