.homePge {
  background-color: #5b5e60;
  min-height: 100vh;
  padding-bottom: 40px;
}

.container {
  display: flex;
  padding-right: 30px;
}

.infoIcon {
  margin-top: 40px;
  cursor: pointer;
  position: sticky;
  top: 170px;
  z-index: 1000;
}

.cardsWrapper {
  display: flex;
}

.todoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin: 30px 50px 0 20px;
}
