.todoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin: 30px 50px 0 20px;
}

.status {
  padding: 10px 20px;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  position: sticky;
  top: 170px;
  z-index: 1000;
  background-color: #212529;
  border-radius: 8px;
}

.inputContainer {
  margin-top: 15px;
}
